/*CSS PORTFOLIO*/
@charset "utf-8";

*{	margin:0px;	padding: 0px;}

body{
	text-align:center;
}

header{
	background-image:url("img/header_bd.png");
	background-size:100%;
	width:100%;
	height:0;
	padding-top:55.556%;
	position:relative;
	z-index:999;
}
h1{
	position: absolute;
	top: 40%;
	right:15%;
	color:#FFF;
	font-size: 150%;
	text-shadow: 5px 5px 5px #bbb;
}
.mytext{
	position: absolute;
	top:48%;
	right:15%;
	color:#FFF;
	text-align:right;
}

.wrapper{
	width:95%;
	margin:auto;
}

nav{
	width:80%;
	margin:auto;
	margin-top:3%;
}
ul{
	list-style-type:none;
}
li{
	text-align:center;
	float:left;
	width:30%;
	font-size:130%;
	border-bottom:solid 1px #555;
	padding-top:1%;
	padding-bottom:1%;
}
.mg_r{
	margin-right:5%;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

nav a {
	text-decoration: none;
	color: #555;
}
nav a:hover {
	opacity: 0.8;
}


h2{
	font-size:150%;
	text-align:center;
	padding-top:3%;
	padding-bottom:3%;
}

.f_box{
	width:90%;
	margin:auto;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:flex-start;
	margin-bottom:3%;
}

.i_box{
	width:100%;
	height:300px;
	overflow:auto;
	scrollbar-width:none;
}

.box img{
	width:90%;
	margin:auto;
}

.box{
	background-color:#999;
	width:30%;
	padding-top:3%;
/*	height:760PX;*/
}

h3{	padding:3%;}

table{
	width:90%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0 15px;
}
th{	width:30%;}
tb{	width:60%;}

.mr{
	margin-top:5%;
	margin-bottom:5%;
}

.back{
	width:50px;
	text-align:center;
	background-color:#aaa;
	padding:1%;
	position:fixed;
	right:2%;
	bottom:5%;
}
.back a{
	color:#fff;
	text-decoration:none;
}

.prof{
	text-align:left;
	width:42%;
	margin:auto;
}
h4{
	padding:0.3%;
}

footer{
	background-image:url("img/header_bd.png");
	color:#eee;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	padding-top:0.5%;
	padding-bottom:0.5%;
	margin-top:3%
}

@media screen and (max-width: 700px)
{

h1{
	top: 35%;
}
.mytext{
	top: 50%;
}

.wrapper{
	width:100%;
}

nav{
	width:100%;
	margin-top:5%;
	margin-bottom:5%;	
}

nav a {
	text-decoration: none;
	color: #608;
}
nav a:hover {
	opacity: 0.5;
}

h2{
	padding-bottom:5%;
}

.f_box{
	width:100%;
	display:block;
	margin-bottom:5%;
}

.box img{
	width:80%;
	margin:auto;
}

.box{
	width:100%;
	padding-top:5%;
/*	height:760PX;*/
}

.prof{
	width:80%;
}

.back{
	font-size:14px;
	width:45px;
	right:1%;
	bottom:3%;
}

footer{
	margin-top:5%
}

}